

.logo{
	text-align: center;

}
a{
	color:#000000; 
	text-decoration: none;

}
.leftlink{
	float: right;
}
.weblinkdiv{
	text-align: center;
}
.alink{
	color: #000000;
}
body{
	width: 100%;
	height: 100%;
	background-position: center center; 
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
